<div class="nav_bar">
	<% if !current_user %>
		<%= render 'devise/shared/links' %>
	<% else %>
		<p class='font-purple'><%= current_user.first_name || current_user.email %>&nbsp;&nbsp;
		 <%= link_to('Logout', destroy_user_session_path, :method => :delete) %> </p>
	<% end %>
</div>

<div class="pretty-box">
	<div class="container">
	<%= form_for Oneline.new do |f|%>
		<h1 class = 'title'><%= Time.now.strftime('%B %d, %Y') %> one line </h1>
		<p><%= f.text_field :contents, class: "form-control main-form", rows:"3", placeholder: "What is in your mind today?" %></p>
		<% f.hidden_field :user, value: current_user %>
		<p class="center"><%= f.submit 'Save', class: "btn btn-success"%><p>
	<% end %>
	</div>
</div>

<div class="yesterday-box">
	<% Oneline.todays_quote(Date.today).each do |toq| %>
	 Most recently people said: <%= toq.contents %>
	<% end %>
</div>

<div class="admirer">
	<p class='admirer_oneline'>This is a oneline messages that you've received today from people secretly admire you</p>
	<% if !current_user.received_from_admirer.any? %>
		<p>It looks like there is no messages from him/her today</p>
	<% else %>
		<% current_user.received_from_admirer.each do |amg| %>
			<p class='font-purple'><i class="fa fa-quote-left" aria-hidden="true"></i>&nbsp;<%= amg.contents %><i class="fa fa-quote-right" aria-hidden="true"></i>&nbsp;</p>
		<% end %>
	<% end %>
</div>

<div class="secret_admirer">
	<div class="container">
		<% if current_user.secret_admirer.nil? %>
			<p>You can be a Secret Admirer for someone and send one line to him/her everyday. Of course we will not tell who you are because it is secret. If you don't have anyone, register now!</p>
			<%= form_for User.new do |u| %>
				<%= u.text_field :first_name, placeholder: "First Name" %>
				<%= u.email_field :email, placeholder: "Email" %>
				<%= u.hidden_field :admirer, value: current_user %>
				<%= u.submit 'Sbumit', class: 'btn btn-success' %>
			<% end %>
		<% else %>
			<p class='padding_top_p '>What do you want to say to "<%= current_user.secret_admirer.first_name %>" today? </p>
			<%= form_for Oneline.new do |f| %>
				<p><%= f.text_field :contents, class: "form-control bigger-font", rows:"3", placeholder: "Perhaps something cheerful?" %></p>
				<%= f.hidden_field :user, value: current_user %>
				<p class="center"><%= f.submit 'Save', class: "btn btn-success"%><p>
			<% end %>
		<% end %>
	</div>
</div>

<div class="daily_oneline">
	<div class="container">
		<h1>Here is your Daily Journal</h1>
		<% Oneline.my_oneline(current_user).reverse.each do |oneline| %>
			<p>Created at <%= oneline.created_at.strftime('%B %d, %Y') %></p>
			<p><%= oneline.contents %> <%= link_to "Edit", oneline_path(oneline.id), remote: true, class: "edit#{oneline.id}" %> |
			<%= link_to 'Delete', oneline_path(oneline.id), method: :delete, remote: true, class: "delete_#{oneline.id }" %> </p>
		<% end %>
		<br>
	</div>
</div>

