<div class="nav_bar">
	<% if !current_user %>
		<%= render 'devise/shared/links' %>
	<% else %>
		<p><%= current_user.first_name || current_user.email %>&nbsp;&nbsp;
		 <%= link_to('Logout', destroy_user_session_path, :method => :delete) %> </p>
	<% end %>
</div>

<div class="pretty-box">
	<%= form_for Oneline.new do |f|%>
		<h1 class = 'title'><%= Time.now.strftime('%B %d, %Y') %> one line </h1>
		<p><%= f.text_field :contents, class: "form-control", rows:"3" %></p>
		<% f.hidden_field :user, value: current_user %>
		<p><%= f.submit 'Submit' %><p>
	<% end %>
</div>

<div class="yesterday-box">
	<% Oneline.todays_quote(Date.today).each do |toq| %>
	 Most recently people said: <%= toq.contents %>
	<% end %>
</div>

<div class="secret_admirer">
	<p>This is a oneline message you've received from your secret_admirer</p>

</div>
<div class="admirer">
	<p>This is a oneline message you can send to your admirer</p>
	<% current_user.who_admires_this_person do |admirer| %>
		<%=link_to admirer.first_name, new_oneline_path, remote: true, data_admirer_id: admirer.id %>
	<% end %>
</div>

<% Oneline.my_oneline(current_user).reverse.each do |oneline| %>
	<p>Created at <%= oneline.created_at.strftime('%B %d, %Y') %></p>	<p><%= oneline.contents %> <%= link_to "Edit", oneline_path(oneline.id), remote: true, class: "edit#{oneline.id}" %>
		<%= link_to 'Delete', oneline_path(oneline.id), method: :delete, remote: true, class: "delete_#{oneline.id }" %> 
	</p>
	<br>
<% end %>
