<div class="nav_bar">
	<% if !current_user %>
		<%= render 'devise/shared/links' %>
	<% else %>
		<p><%= current_user.first_name || current_user.email %>&nbsp;&nbsp;
		 <%= link_to('Logout', destroy_user_session_path, :method => :delete) %> </p>
	<% end %>
</div>

<div class="pretty-box">
	<div class="container">
	<%= form_for Oneline.new do |f|%>
		<h1 class = 'title'><%= Time.now.strftime('%B %d, %Y') %> one line </h1>
		<p><%= f.text_field :contents, class: "form-control main-form", rows:"3", placeholder: "What is in your mind today?" %></p>
		<% f.hidden_field :user, value: current_user %>
		<p class="center"><%= f.submit 'Save', class: "btn btn-success"%><p>
	<% end %>
	</div>
</div>

<div class="yesterday-box">
	<% Oneline.todays_quote(Date.today).each do |toq| %>
	 Most recently people said: <%= toq.contents %>
	<% end %>
</div>

<div class="admirer">
	<p class='admirer_oneline'>This is a oneline messages that you've received from people secretly love you</p>
	<% if !current_user.received_form_admirer.any? %>
		<p>It looks like there is no messages from him/her</p>
	<% else %>
		<% current_user.received_form_admirer.each do |amg| %>
			<p><%= amg.contents %></p>
		<% end %>
	<% end %>
</div>

<div class="secret_admirer">
	<p>This is a oneline message you can send to someone you love</p>
	<% form_for Oneline.new do |f| %>
</div>

